.form{
  background-color: white;
  padding: 20px;
  width: 20%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2{
    text-align: center;
    color: black;
  }
  .form-control{

    color: black;
    display: flex;
    flex-direction: column;
    input{
      padding:5px;
      background-color:gray;
      border-radius:10px;
    }
  }
  button{
    padding: 3px 7px;

  }
  p{
    text-align: center;
    color: black;
  }

}
