.navbar-container{
  display:flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 10px 30px;
 div{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:10px;
   button{
     padding: 5px;
     color: black;
   }

     select{
       padding: 5px;
       color: black;
       option{
         padding: 10px;
       }
     }


 }
}